@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.MyContainer{
  max-width: 1440px;
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  @apply text-[36px] md:text-[42px] lg:text-[75px] font-extrabold leading-none text-black;
}

h2 {
  @apply text-[30px] md:text-[36px] lg:text-[42px] font-extrabold leading-tight text-black;
}

h3 {
  @apply text-[24px] md:text-[26px] lg:text-[28px] font-semibold leading-tight text-black;
}

p {
  @apply text-[16px] md:text-[18px] lg:text-[24px] text-[#1e1e1e];
}




.txt-gradient {
  @apply bg-gradient-to-r from-[#7A00FF] to-[#FF6B81] bg-clip-text text-transparent;
}

.btn-gradient {
  @apply bg-gradient-to-r from-[#7A00FF] to-[#FF6B81];
}